* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #000000;
  color: #ffffff;
  text-align: left;
}

.head {
  display: block;
  padding: 12px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
  font-size: 32px;
  width: auto;
  height: 445px;
  background-color: #0f0f0f;
  border-radius: 20px;
}

.head-text {
  margin-top: 305px;
  margin-bottom: 12px;
  margin-right: 480px;
}

.head-image {
  position: absolute;
  top: 24px;
  right: 24px;   
  display: flex;
  width: 440px;
  height: 440px;
}

.primaryContent {
  text-align: center;
  margin-left: 256px;
  margin-right: 256px;
  font-size: 20px;
}

.proyects {
  text-align: center;
}

a{
  border-radius: 5px;
  padding: 10px 7px;
  text-decoration: none;
  color: #fff;
  background-color: #333;
  margin: 12px;
}

