* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #000000;
  color: #ffffff;
  text-align: left;
  font-family: arial;
}

.head {
  display: block;
  padding: 12px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
  font-size: 32px;
  width: auto;
  height: 445px;
  background-color: #0f0f0f;
  border-radius: 20px;
}

.head-text {
  margin-top: 305px;
  margin-bottom: 12px;
  margin-right: 480px;
}

.head-image {
  position: absolute;
  top: 24px;
  right: 24px;   
  display: flex;
  width: 440px;
  height: 440px;
}

.primaryContent {
  text-align: center;
  margin-left: 256px;
  margin-right: 256px;
  font-size: 20px;
}

.proyects {
  text-align: center;
}

a{
  border-radius: 7.5px;
  padding: 10px 12px;
  text-decoration: none;
  background-color: #c2c2c2;
  border: 2px solid #ffffff;
  margin: 12px;
  color: #000000;
}

a:hover {
  background-color: #820aad;
  opacity: 80%;
  border: 3px solid #c31fff;
}

.logo {
  position: relative;
  top: 10px;
  width: 36px;
  height: 36px;
  bottom: 10px;
}

.container {
    text-align: center;
    background-color: #000000;
    padding: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

button {
    height: 50px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #ffffff;
    border-radius: 7.5px;
    background-color: #c2c2c2;
    color: #000000;
}

button:hover {
  background-color: #820aad;
  opacity: 80%;
  border: 3px solid #c31fff;
}

#status {
    margin-top: 3px;
    font-size: 14px;
    color: #c31fff;
}

